.readme-view {

    .title {

        text-align: center;

    }

    :deep() {

        .markdown-body {

            padding: 1.4rem 1.6rem;
            border-radius: 6px;

            pre {

                padding-bottom: 2rem;

            }

        }

    }

}
