@import url("./skeleton.css");

#app,
#app main {

    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-weight: normal;

}

a,
button {

    cursor: pointer;

}

a,
.green {

    padding: 3px;
    color: hsl( 160deg 100% 37% / 100% );
    text-decoration: none;
    transition: .4s;

}

.background--default {

    background-color: var( --color-background ) !important;

}

@media (hover: hover) {
    a:hover {

        background-color: hsl( 160deg 100% 37% / 20% );

    }
}
@media (width >= 1024px) {

    body {

        display: flex;
        place-items: center;

    }

    #app .layout {

        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #app main {

        max-height: 99vh;
        overflow-y: auto;

    }

}
